<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardTypeMapper">

	<update id="update">
		update tbl_board_type
		set
		name=#{name},
		orders=#{orders},
		where type=#{type}
	</update>
	<delete id="delete">
		delete from tbl_board_type
		where type=#{type}
	</delete>
	<insert id="insert">
		insert into tbl_board_type(
			type,
			name,
			orders
		)
		values(
			#{type},
			#{name},
			#{orders}
		)
	</insert>
	<select id="readType" resultType="com.home.vo.BoardTypeVO">
	select * from tbl_board_type
	where type=#{type}
	</select>
	<select id="selectAll" resultType="com.home.vo.BoardTypeVO">
		select * from tbl_board_type
	</select>
</mapper>