<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="homeMenuMapper">

<delete id="deleteMenu">
	delete from tbl_home_menu
	where
	menu_type = #{type}
</delete>
<insert id="insertMenu">
	insert into tbl_home_menu values(
	#{type},
	#{name},
	#{order},
	#{parent}
	)
</insert>

<update id="updateMenu">
	update tbl_home_menu
	set
	menu_name=#{name},
	menu_parent = #{parent},
	menu_order = #{orders}
</update>

<select id="readMenu" resultType="com.home.vo.MenuVO">
	select * from tbl_home_menu where type=#{type}
</select>

<select id="selectMenu" resultType="com.home.vo.MenuVO">
	<choose>
		<when test="#{menu_parent==null}">
			select * from tbl_home_menu
			where parent is null
		</when>
		<otherwise>
			select * from tbl_home_menu
			where parent=#{type}
		</otherwise>
	</choose>
</select>

</mapper>